{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{% block body %}
    <h1>Novo Serviço</h1>

    {{ form_start(form, {"attr":{"novalidate": true}}) }}
        {{ form_row(form.nome) }}
        {{ form_row(form.descricao) }}
        {{ form_row(form.preco) }}
        <input type="submit" value="Criar" class="btn btn-primary" />
    {{ form_end(form) }}
{% endblock %}