{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('agendamento_new') }}" class="btn btn-primary float-right">Criar novo agendamento</a>
    <h1>Agendamentos</h1>

    <div class="card">
        <div class="card-header">Filtar por</div>
        <div class="card-body">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown button
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>OS</th>
                <th>Horário</th>
                <th>Cliente</th>
                <th>Serviço</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for agendamento in agendamentos %}
                <tr>
                    <td><a href="{{ path('agendamento_show', { 'id': agendamento.id }) }}">{{ agendamento.id }}</a></td>
                    <td>{% if agendamento.horario %}{{ agendamento.horario|date('d/m/Y H:i') }}{% endif %}</td>
                    <td>{{ agendamento.cliente }}</td>
                    <td>{{ agendamento.servico }}</td>
                    <td>
                        <a href="{{ path('agendamento_show', { 'id': agendamento.id }) }}" class="btn btn-info">Exibir</a>
                        <a href="{{ path('agendamento_edit', { 'id': agendamento.id }) }}" class="btn btn-primary">Editar</a>

                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
